---
const { employee } = Astro.props;
import { Image } from "astro:assets";
import Pattern2 from "@assets/images/Pattern2.png";
import instagram from "@icons/instagram.svg";
import facebook from "@icons/facebook.svg";
import twitter from "@icons/twitter.svg";
import LinkedIn from "@icons/LinkedIn.svg";

const icons = { facebook, instagram, twitter };
---
<div>
  <div class="content">
    <Image class="pattern" src={Pattern2} alt="pattern" />
    <img class="img set-height" src={employee.img} alt={`Employee ${employee.name}`} >
    <div class="info">
      <div>
        <div class="header">
          <h1>{employee.name}</h1>
          <div class="divider"></div>
          <div class="links">
            {employee.social_links.map((link) => {
              const Icon = icons[link.icon];
              return (
                <a class="psedo" href={link.url} aria-label={link.platform}>
                  <Icon class="img" />
                </a>
              );
            })}
            <a class="psedo" href="#">
              <Image class="img" src={LinkedIn} alt="LinkedIn" />
            </a>
          </div>
        </div>
        <h3>{employee.title}</h3>
        <p>{employee.description_long}</p>
      </div>
      <div>
        <div><h1>Past experience</h1></div>
        <p>{employee.past_experience}</p>
      </div>
    </div>
  </div>
</div>


<style>
       .content {
        display: grid;
        gap: 5rem;
        grid-template-columns: minmax(0, 475px) 1fr;
        margin-bottom: var(--margin-space);
        margin-top: calc(var(--margin-space) + var(--margin-space));
        position: relative;
            .pattern {
                position: absolute;
                scale: 1.2;
                left: -80px;
                top: -60px;
                z-index: -2;
            }
            .info {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                p {
                    padding-block: 1rem;
                    margin-bottom: 2rem;
                }
                h3 {
                    margin-top: 0.65rem;
                }
                > :nth-child(1) {
                    border-bottom: 2px solid var(--black_02);
                }
                .header {
                    display: flex;
                    gap: 3rem;
                }
                .divider {
                flex: 0 0 2px; 
                align-self: stretch; 
                background-color: var(--black_02);  
                }
                .links {
                    display: flex;
                    gap: 1.5rem;
                    align-content: center;
                    width: fit-content;
                    margin:auto 0;
                    .psedo {
                        transition: scale 0.2s ease-in;
                        &:hover {
                            scale: 1.1;
                        }
                    }
                    > :nth-child(odd) {
                        border:3px solid var(--black) ;
                        background-color: var(--black);
                        border-radius: 50%;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        width: 37px;   /* control circle size */
                        height: 37px;
                        .img {
                            width: 27px;
                            height: 27px;
                            margin: auto;
                            color: var(--white);
                        }
                    }
                    > :nth-child(even) {
                        width: 37px;   /* control circle size */
                        height: 37px;  
                    }
                }
            }
        &::after {
            top: -40px;
            left: -40px;
            content: "";
            position: absolute;
            height: 183px;
            width: 254px;
            border-radius: var(--border-radius);
            background-color: var(--green);
            z-index: -1;
        }
        .img {
            align-self: stretch;
            width: 100%;
            object-fit: cover;
            border-radius: var(--border-radius);
        }
        .set-height {
            height: 500px;
        }

}
</style>